
body{
    background-color: rgb(198, 198, 253);
}

.task{
    margin-top: 4rem;
    margin-left: 4rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.add{
    margin-left: 5px;
}

.sidebarr{
    height: 100vh;
}

.tasksdue{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
}

.headind-task-due{
    margin-top: 2rem;
}

.done{
    text-decoration: line-through;
}